{% extends "market/base.html" %}
{% load static %} 
{% load custom_filters %}         {# カスタムテンプレートタグの読み込み(custom_filters.py) 
                                    使い方：{{ product.category|get_type }}
                                           {{ category.name|get_type }}  で型を確認  #}


{% block main %}   
{% if request.user.is_authenticated %}  {# ログイン済みユーザーかどうかを判定 #}
{# <a href="{% url 'market:mylist' user.id %}">マイリストページへ</a><br> #} {# user.id はいらない？ #}
<a href="{% url 'market:mylist' %}">マイリストページへ</a><br>
{% endif %}

{% for category in categories %}
<h5>{{ category.name }}</h5><br>
    <div class="d-flex ms-3" style="overflow-x:auto;">
        <!-- 商品一覧 -->
        {% for product in products %}    
            {% if product.category.name == category.name %}   
            <div class="ms-2" style="min-width: 200px;">
                <img src="{{ product.image.url }}" width="200" height="200" alt="">  {# イメージを変数で取ってくるときは .url をつけるのか？ #}
                <p>{{ product.name }}: {{ product.price }}円</p>
                <a href="{% url 'market:single' product.id %}">個別ページ</a>  {# この product.id で pk を取得してるのか？ #}
            </div>
            {% endif %}
        {% endfor %}
    </div>
{% endfor %}


{% endblock %}

